.gradle
.idea
build/
node_modules/
.DS_STORE

atlassian-ide-plugin.xml
npm-debug.log
*.iml
/bin/

.project
.classpath
.settings/

!src/test/resources/fixtures/db*
*.mp4
src/main/resources/static/js/main.js
